.list-group
            a.text-center.list-group-item.active(href="/") Category 1
            a.text-center.list-group-item(href="/") Category 2
            a.text-center.list-group-item(href="/") Category 3